@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  

body {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #ffffff;
    color: #fff;
    padding: 1rem 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    height: 60px; /* Adjust the height as needed */
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 6rem; /* Increase the gap between elements */
    position: relative;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: #013d5a;
    text-decoration: none;
    font-size: 1.2rem; /* Adjust the font size as needed */
    display: flex;
    align-items: center;
    text-transform: uppercase; /* Make text uppercase */
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
    padding: 1rem;
    border-radius: 5px;
}

#floorplan {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh; /* Make the section take up the full viewport height */
}

#floorplan-title {
    font-size: 3rem;
    text-align: left; 
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 10px;
}

.floorplan-text {
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 250px;
    margin-right: 250px;
}

#floorplan img {
    max-width: 100%;
    height: auto; 
}

#about-title {
    font-size: 3rem;
    text-align: left; 
    margin-left: 250px;
    margin-right: 250px;
}


#about {
    padding: 2rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Create two equal-width columns */
    gap: 4rem; /* Add space between columns */ 
    margin-bottom: 100px;
    margin-left: 250px;
    margin-right: 250px;
}

.image-card {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.image-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.text-content {
    display: flex;
    text-align: justify;
    align-items: center;
    font-size: 1rem;
    color: #333;
}


#contact {
    padding: 2rem;
    background-color: #013d5a;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}




